body {
  margin: 0;
  padding: 0;
  /* background-color: #f6f8fa !important; */
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none !important;
  background-color: rgb(29, 157, 235);
  font-weight: 500;
  cursor: pointer;
}

span:hover {
  cursor: pointer;
}

input {
  outline: none;
}

.logform > input {
  width: 45vw;
  padding: 10px;
  margin: 2% auto;
  max-width: 500px;
  width: 66vw;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.logform > input:focus {
  /* border: 2px solid rgb(251, 190, 14); */
}

.formbutton {
  width: 25vw;
  height: 5vh;
  border-radius: 10px !important;
  color: white;
}

.header {
  background-color: #fff !important;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9B9B9B;
  border-top: 1px solid #9B9B9B;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: height .5s linear !important;
}

.header.small {
  height: 5.3vw;
}

.header.big {
  height: 7vw;
}

.other > *, .logo {
  font-size: 20px;
  margin: 0 7px;
}

.logo > * {
  color: rgb(29, 157, 235);
  font-size: 4vw;
  font-weight: 600;
}

.header > div > *, .footer > div > * {  
  padding: 10px;
}

.navactive {
  color: rgb(29, 157, 235);
}

.regbutton {
  background-color: rgb(251, 190, 14);
  border-radius: 50px;
  margin-right: 0;
}

.regbuttonactive {
  background-color: #fff;
  color: rgb(29, 157, 235);
  box-shadow: 0 0 0 1.5px rgb(251, 190, 14);
  border-radius: 25px;
}

.main, .login, .register, .services, .about, .regconfirm {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.title {
  margin: 5% auto auto auto;
  font-size: 3vw;
}

.whoweserve {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.whoweserve > div {
  display: flex;
  flex-flow: column;
  width: 25%;
}

.whoweserve > div > img {
  width: 5vw;
  margin:  5% auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.maininfo {
  text-align: left;
  color: #4A4A4A;
  font-family: helvetica;
}

.smallpic {
  width: 25vw !important;
}

.aboutinfo > img {
  margin: 5% auto;
  width: 50vw;
}

.aboutp {
  text-align: left;
  margin: 0 10%;
  font-size: 2vw;
}

.info {
  margin: 10% 5%;
  font-weight: 900;
}

.info > p {
  font-size: 24px;
}

.mainsection {
  display: flex;
  margin: 0 5%;
}

.mainsection > div:first-of-type {
  margin-left: 0;
}

.mainsection > div:last-of-type {
  margin-right: 0;
}

.mainsection > div {
  width: 22%;
  display: flex;
  flex-direction: column;
  margin: 0 1.5%;
}

.mainsection > div > img {
  width: 15%;
}

.mainsection > div > b {
  font-size: 18px;
  margin: 3% 0;
}

.mainsection > div > p {
  font-size: 18px;
}

.youmeaneverything {
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.youmeaneverything > img {
  width: 25%;
}

.youmeaneverything > div {
  width: 60%;
}

.youmeaneverything > div > p {
  margin-top: 2%;
  font-size: 20px;
}

.youmeaneverything > div > b {
  font-size: 24px;
}

.mainblue {
  background-color: #38A1F2;
  display: flex;
  color: #fff;
}

.mainblue > div {
  width: 65%;
  margin: 5% 0 5% 5%;
}

.mainblue > div > p {
  font-size: 20px;
  margin-top: 2%;
  width: 75%;
}

.mainblue > button {
  color: #fff;
  border: 2px solid #FFFFFF;
  border-radius: 23px;
  height: 50px;
  font-size: 18px;
  width: 200px;
  margin: auto;
}

.joinsocialmedia {
  margin: 10% 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.smallsocial {
  height: 100px !important;
}

.joinsocialmedia > img {
  min-width: 5%;
  height: 75px;
  margin-top: 5%;
}

.joinsocialmedia > img:first-of-type {
  margin-left: 0;
}

.joinsocialmedia > div {
  width: 100%;
}

.joinsocialmedia > div > p {
  font-size: 18px;
  width: 95%;
}

.getademo {
  color: #4A4A4A !important;
  background-color: #FFC753 !important;
  border: 1px solid #FFC753 !important;
  border-radius: 28.5px !important;
}

.footer {
  border-top: 1px solid #38A1F2;
  padding-top: 2%;
  margin: 5% auto 2% auto;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > * {
  cursor: pointer;
  margin: 0 5%;
}

.invalidCred {
  border: 1px solid red;
}

.logform {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 5% auto;
  text-align: left;
  max-width: 500px;
  width: 66vw;
}

.formbutton {
  margin: 5% 0;
}

button:active {
  animation: click .5s linear;
}

.flickity-button:active {
  animation: none !important;
}

button:focus {
  outline: none;
}

.radio {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  margin: 5% 0 7% auto;
}

.radiobutton {
  height: 10vh;
  width: 100px;
  margin: 2% 4%;
}
  
.radiobutton > input {
  margin-top: 10%;
  transform: scale(1.5);
}

.reginputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10% auto;
  max-width: 500px;
  width: 66vw;
}

.short {
  width: 41% !important;
}

.reginputs > input {
  padding: 10px;
  margin: 2%;
  border-radius: 5px;
  width: 100%;
}

.shipper {
  background-image: url('./images/shipper.png');
}

.carrier {
  background-image: url('./images/carrier.png');
}

.warehouse {
  background-image: url('./images/warehouse.png');
}

.customer {
  background-image: url('./images/customer.png');
}

.shipper, .carrier, .warehouse, .customer {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 8vw;
}

.mobileheader {
  display: none;
}

.dropmenu.false {
  width: 0;
}

.dropmenu.false > * {
  display: none;
}


/* ///////////////////////////// */
/*                               */
/*             Desktop           */
/*                               */
/* ///////////////////////////// */


@media (max-width: 1030px) {

  .header.small {
    height: 8vw;
  }
  
  .header.big {
    height: 10vw;
  }

}

/* /////////////////////////////// */
/*                                 */
/*          Mobile                 */
/*                                 */
/* /////////////////////////////// */


@media (max-width: 720px) {

  h1 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
  }

  li {
    font-size: 3.3vw;
  }

  label {
    font-size: 3.5vw;
    font-weight: 500 !important;
  }

  span {
    font-size: 3vw;
  }

  .mainsection > div > img {
    width: 30%;
  }

  .joinsocialmedia > img  {
    height: 5vh;
  }

  .joinsocialmedia > .smallsocial {
    height: 7.5vh !important;
  }

  .whoweserve > * {
    font-size: 3.3vw;
    width: auto !important;
  }

  .logo > * {
    font-size: 40px;
  }

  .header {
    display: none;
  }

  .mobileheader {
    background-color: #fff !important;
    border-bottom: 1px solid #eceef1;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .dropbutton {
    width: 8vw;
    height: 8vw;
    background-image: url('./images/hamburger.png');
    background-size: contain;
    transition: background-image 0.25s ease-in-out;
  }

  .dropbutton.true {
    background-image: url('./images/closemenu.png');
  }

  .dropmenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    right: 0;
    background-color: #fff;
    transition: all .25s;
  }

  .dropnav {
    padding: 5%;
    margin: 5%;
  }

  .dropnav.blue > * {
    color: rgb(29, 157, 235);
  }

}

/* ///////////////////// */
/*                       */
/*      Animations       */
/*                       */
/* ///////////////////// */

@keyframes click {
  0%   {transform: scale(1);}
  50%  {transform: scale(0.8);}
  100% {transform: scale(1);}
}