body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(74, 74, 74);
}

span {
  font-size: 24px;
  font-size: 2.2vw;
  color: rgb(74, 74, 74);
}

h1 {
  margin: 0;
}

span:hover {
  color: rgb(29, 157, 235);
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid rgb(251, 190, 14);
  /* box-shadow: 0 0 0 1.5pt rgb(251, 190, 14); */
}

form > input {
  width: 45vw;
  padding: 10px;
  margin: 2% auto;
  border-radius: 5px;
}

button {
  width: 25vw;
  border-radius: 10px;
  background-color: rgb(29, 157, 235);
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 2%;
  cursor: pointer;
}

.logo {
  background-color: black;
  width: 2vw;
  display: inline-block;
}

.header {
  border-bottom: 1px solid rgb(74, 74, 74);
  height: 50px;
  max-height: 100px;
  margin: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f4f4f4;
}

.leftnav, .rightnav, .footer > div > * {
  cursor: pointer;
  margin: 0 1vw;
}

.leftnav > *, .rightnav> * {
  padding: 1vw;
}

.navactive {
  color: rgb(29, 157, 235);
}

.regbutton {
  background-color: rgb(251, 190, 14);
  border-radius: 25px;
}

.regbuttonactive {
  background-color: #f4f4f4;
  color: rgb(29, 157, 235);
  border: 2px solid rgb(251, 190, 14);
  border-radius: 25px;
}

.main, .login, .register, .services, .about, .dashboard, .regconfirm {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.banner {
  height: 30vw;
}

.title {
  margin: 2% auto auto auto;
  font-size: 3vw;
}

.maininfo {
  text-align: left;
  margin: 0 15% 3% 15%;
  font-size: 2vw;
}

.info {
  margin: 10% auto 10% auto;
}

.footer {
  margin: 5% auto 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > * {
  cursor: pointer;
  margin: 0 5%;
}

.invalidCred {
  border: 1px solid red;
}

.logform {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 5% auto;
  text-align: left;
}

.logform > input {
  max-width: 500px;
  width: 66vw;
}

.formbutton {
  margin: 5% 0;
}

.radio {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  margin: 5% 0 7% auto;
}

.radiobutton {
  height: 10vh;
  width: 100px;
  margin: 2% 4%;
}
  
.radiobutton > input {
  margin-top: 10%;
  transform: scale(1.5);
}

.reginputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 5% auto;
  max-width: 500px;
  width: 66vw;
}

.short {
  width: 41% !important;
}

.reginputs > input {
  padding: 10px;
  margin: 2%;
  border-radius: 5px;
  width: 100%;
}

.shipper {
  background-image: url('./images/shipper.png');
}

.carrier {
  background-image: url('./images/carrier.png');
}

.warehouse {
  background-image: url('./images/warehouse.png');
}

.customer {
  background-image: url('./images/customer.png');
}

.shipper, .carrier, .warehouse, .customer {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 8vw;
}

.dashboard {
  display: flex;
}

.dashbuttons {
  display: flex;
}

.dashbutton {
  margin: 5% auto;
}